/* Header component styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 80px;
  width:100%;
  padding: 0 20px;
  border:1px solid black;
  position: sticky;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.nav-list {
  color:black;
  list-style-type: none;
  display: flex;
  margin-left: 0;
  padding: 0;
  text-decoration: none;
 
}

.nav-item {
  color:white;
  font-size: 18px;
  margin-right: 100px;
  
  cursor: pointer;
  text-decoration: none;

}
.nav-link{
  color: white;
  text-decoration: none;
}
.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login {
  background-color: black;
  color: white;
}

.signup {
  background-color: white;
  color: black;
}

.auth-button:hover {
  opacity: 0.8;
}
